fastapi
uvicorn[standard]
pymongo>=4.6.0
bcrypt
pyjwt
python-multipart
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
langchain-google-genai
langchain-ollama
langchain-core
langchain-community
sentence-transformers
pypdf
reportlab
python-dotenv
spacypython-docx