fastapi
uvicorn[standard]
pymongo
bcrypt
pyjwt
python-multipart
pydantic[email]
python-multipart
pymongo
python-jose[cryptography]
passlib[bcrypt]
bcrypt
pyjwt
langchain-google-genai
langchain-core
langchain-community
sentence-transformers
pypdf
reportlab
pydantic
python-dotenv
